<div class="container" style="width: 50%">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Avengers: Infinity War </mat-card-title>
      <mat-card-subtitle>2018</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://de.web.img3.acsta.net/c_310_420/pictures/18/03/16/17/59/5371074.jpg"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The Avengers and their allies must be willing to sacrifice all in an
        attempt to defeat the powerful Thanos before his blitz of devastation
        and ruin puts an end to the universe.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Action</button>
      <button mat-button>Adventure</button>
      <button mat-button>Sci-Fi</button>
    </mat-card-actions>
  </mat-card>
  <br />
  <br />
  <br />
  <div>
    <form class="example-form">
      <mat-icon style="color: gold">stars</mat-icon>
      <mat-icon style="color: gold">stars</mat-icon>
      <mat-icon style="color: gold">stars</mat-icon>
      <mat-icon style="color: gold">stars</mat-icon>
      <mat-icon style="color: grey">stars</mat-icon>
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Ex. Pizza" value="MovieLover69" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
      </mat-form-field>
    </form>
  </div>
</div>
